// Base color
$black = #000							// rgb(0, 0, 0)
$white = #fff							// rgb(255, 255, 255)
$blue = #4c63b6							// rgb(76, 99, 182)
$light-grey = #7c8289					// rgb(124, 130, 137)

$text-light-grey = #7c8289				// rgb(124, 130, 137)
$text-default-grey = #6b6b6b			// rgb(107, 107, 107)
$light-grey20 = rgba($light-grey, 20%)
