@ljit:registry=http://npm.ljit.io/
registry=http://npm.ljit.io/

@sindresorhus:registry=https://registry.npmjs.org/
@szmarczak:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@npmcli:registry=https://registry.npmjs.org/
@tootallnate:registry=https://registry.npmjs.org/
@babel:registry=https://registry.npmjs.org/
@jest:registry=https://registry.npmjs.org/
@cnakazawa:registry=https://registry.npmjs.org/
@ant-design:registry=https://registry.npmjs.org/
@webassemblyjs:registry=https://registry.npmjs.org/
@xtuc:registry=https://registry.npmjs.org/
@hapi:registry=https://registry.npmjs.org/
@onsenui:registry=https://registry.npmjs.org/
