.log-page
	.ljit-form
		display: flex
		justify-content: space-between
		flex-wrap: wrap

		.ljit-form-reset-btn
			margin-left: 25px

	.ljit-form-label
		width: 32%
		display: flex
		margin-bottom: 16px

		.ant-form-item-control-wrapper
		.ljit-daterange-picker
		.ljit-input
			width: 100%

		.ant-form-item-label
			min-width: 70px
			width: auto

		.ant-form-explain
			position: absolute
			margin: 0

	.ljit-form-button-row
		width: 100%

	.ant-tag
		border-radius: 16px
		width: 77px

	td,
	th
		white-space: nowrap

	&__ellipsis
		max-width: 100px
		overflow hidden
		text-overflow: ellipsis
	
	&__tooltip-overlay
		.ant-tooltip-inner
			width: auto
			display: inline-block
			right: inherit

.order-log-modal
	.ant-modal-close-x
		display: none
	.ant-modal-footer
		.ant-btn
			width: 56px
			padding: 0px
		.ant-btn-primary
			display: none
	.ljit-time-line
		margin: 0px 23px
		padding-bottom: 17px
	.ljit-time-line-item
		padding-bottom: 16px
	.ant-timeline-item-last
		.ant-timeline-item-content
			min-height: 0px

.order-info-modal
	.ant-modal-header
		padding: 12px 24px
		border-bottom: 0px
	.ant-modal-close-x
		display: none
	.ant-modal-body
		padding: 12px 24px
	.ant-modal-footer
		padding: 7px 16px
		.ant-btn
			width: 56px
			padding: 0px
			color: #fff;
			background-color: #1890ff
			border-color: #1890ff
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12)
			-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045)
			box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045)
		.ant-btn-primary
			display: none
