@import './color.styl';

$badge-background = $light-blue3 
$badge-border-radius = 4px

.ljit-badge
	width: 34px
	height: 18px
	font-size: 12px
	border: 0

	> .ant-badge-count
		border-radius: $badge-border-radius
		background-color: $badge-background
		box-shadow: none
		padding: 2px
		line-height: 14px
