// Base color
$black = #000							// rgb(0, 0, 0)
$white = #fff							// rgb(255, 255, 255)
$pale-white = #f0f0f0					// rgb(240, 240, 240)

$red = #ff4e4e							// rgb(255, 78, 78)

$blue = #4c63b6							// rgb(76, 99, 182)
$dark-blue = #364b95					// rgb(54, 75, 149)
$dark-blue2 = #3667b2                   // rgb(54, 103, 178)
$light-blue = #edf2ff					// rgb(237, 242, 255)
$light-blue2 = #acb1c3					// rgb(172, 177, 195)
$light-blue3 = #5c93d5					// rgb(92, 147, 213)
$light-blue4 = #778acd					// rgb(119, 138, 205)
$light-blue5 = #e6f0f9					// rgb(230, 240, 249)

$grey = #616e7c							// rgb(97, 110, 124)
$dark-grey = #3e4c59					// rgb(62, 76, 89)
$dark-grey2 = #3b4c5f					// rgb(59, 76, 95)
$dark-grey3 = #808e9b					// rgb(128, 142, 155)

$light-grey = #7c8289					// rgb(124, 130, 137)

$ivory-grey = #cfd9e2					// rgb(207, 217, 226)
$ivory-grey2 = #d2d3d3					// rgb(210, 211, 211)
$ivory-grey3 = #e8e8e8					// rgb(232, 232, 232)

$text-tab-grey = #878d94				// rgb(135, 141, 148)
$text-default-grey = #6b6b6b			// rgb(107, 107, 107)
$text-light-grey = #7c8289				// rgb(124, 130, 137)
$text-light-grey2 = #888d93
$text-light-grey3 = #5a5e65

$light-grey60 = rgba($light-grey, 60%)
$light-grey40 = rgba($light-grey, 40%)
$light-grey20 = rgba($light-grey, 20%)

$text-disabled-grey = rgba($light-grey, 0.6)
