@import '../../../../../styling/color';

.comment
	display: flex
	align-items: center
	margin-bottom: 15px

	&__body
		margin-left: 10px
		color: $black
	
	&__date
		color: #6b6b6b
		font-size: 12px
		margin-left: 10px

	&__avatar
		align-self: flex-start

	&__content
		word-break: break-word
		white-space: pre-wrap
