@import '../../lib/styling/color'; 

.channel-page
	background-color: $white
	padding: 24px 32px 49px 43px

	&__channel-list
		.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td
			padding: 16px 8px

	&__submit-form-modal
		.ant-modal-body
			padding-right: 115px

.header-button-bar__pool
		margin-bottom: 15px
