.tag-page
	.ljit-form-label
		display: flex

		.ant-form-item-label
			min-width: 85px
			width: auto

		.ant-form-item-control-wrapper
			width: 100%

	.ljit-collapsable-form-collapse
		display: none

	.ljit-collapsable-form-reset-btn
		margin-left: 25px
	.ljit-collapsable-form-search-btn
		margin-right: 0
		margin-left: 32px

	&__create-button
		display: block
		margin-left: auto
		margin-top: 20px
		margin-bottom: 15px
