.tag-modal
	.ljit-form-label
		display: flex

		.ant-form-item-label
			min-width: 85px
			width: auto

		.ant-form-item-control-wrapper
			width: 100%

		.ljit-input
			width: 150px

		.ant-form-item-required::before
			display: none

	.ljit-form-label + .ljit-form-label
		margin-bottom: 0
